@import url('https://fonts.googleapis.com/css2?family=Poppins:wgt@300;400;500;600;&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root{
    /*--main-color:#DD2f6E;*/ 
/*    --main-color:#1C232C; */
    /*    --main-color: #11101D; */
    /*    --main-color:#2e86de;*/
    --main-color: #11101D; 
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}


form
{
    height: 100%;
    overflow: hidden;
}


* {
    font-family: "Times New Roman", Times, serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 285px;
    /*width: 95px;*/
    /*    background: #11101D;*/
    background: var(--main-color);
    /*    padding: 6px 14px;*/
    z-index: 99;
    transition: all 0.5s ease;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.sidebar-line{
    width: 100%;
    height: 1px;
    background: #fff;
}
.sidebar.close{
    /*width: 285px;*/
    width: 95px;
}

.sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: .5rem;
    margin-bottom: .9rem;
    padding: 6px 14px;
}

.sidebar .logo-details img{
    width: 70px;
    height: auto;
}

.sidebar .logo-details .logo_name{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    /*opacity: 0;*/
    opacity: 1;
    transition: all 0.5s ease;
    margin-left: 1rem;
}
.sidebar.close .logo-details .logo_name{
    /*opacity: 1;*/
    opacity: 0;
}
.sidebar i{
    color: #fff;
    height: 70px;
    min-width: 65px;
    font-size: 38px;
    text-align: center;
    line-height: 70px;
}
.sidebar .nav-links{
    margin-top: 20px;
    height: 100%;
    padding: 6px 14px;
}
.sidebar .nav-links li{
    position: relative;
    margin: 8px 0;
    list-style: none;
}
.sidebar.close .nav-links li .tooltip{
    display: inline-block;
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}
.sidebar.close .nav-links li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}
.sidebar .nav-links li .tooltip{
    display: none;
}

.sidebar .nav-links li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    /*    background: #11101D;*/
    /*    background: var(--main-color);*/
    background: inherit;
}
.sidebar .nav-links li a:hover{
    background: #FFF;
}
.sidebar .nav-links li a .links_name{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    pointer-events: none;
    transition: 0.4s;
}
.sidebar.close .nav-links li a .links_name{
    opacity: 0;
    pointer-events: auto;
}
.sidebar .nav-links li a:hover .links_name,
.sidebar .nav-links li a:hover i{
    transition: all 0.5s ease;
    /*    color: #11101D;*/
    color: var(--main-color);
}
.sidebar li i{
    height: 57px;
    line-height: 57px;
    font-size: 28px;
    border-radius: 12px;
}


.main-content{
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 285px);
    left: 285px;
    /*    width: calc(100% - 95px);
        left: 95px;*/
    transition: all 0.5s ease;
}

.sidebar.close ~ .main-content{
    width: calc(100% - 95px);
    left: 95px;
    /*    width: calc(100% - 285px);
        left: 285px;*/
}

header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    /*    width: calc(100% - 95px);
        left: 95px;*/
    width: calc(100% - 285px);
    left: 285px;
    top: 0;
    z-index: 100;
    transition: all 0.5s ease;
}


.sidebar.close ~ .main-content header{
    left: 95px;
    width: calc(100% - 95px);
    /*    left: 285px;
        width: calc(100% - 285px);*/
}

.main-content header .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}
header .sidebar-button i{
    font-size: 35px;
    margin-right: 10px;
}

.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper button{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
    background: none;
    color: inherit;
    border: none;
    /*padding: 0;*/
    /*font: inherit;*/
    cursor: pointer;
    outline: inherit;
    top: .7rem;
    vertical-align: middle;
}

.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small{
    display: inline-block
        /* color: var(--text-grey); */
        var(--text-grey);
}
main{
    margin-top: 85px;
    padding: 1rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}

.card-single div:last-child span{
    font-size: 3rem;
    color: var(--main-color);
}

.card-single div:first-child span{
    color: var(--text-grey);
}

.card-single:last-child{
    background: var(--main-color);
}

.card-single:last-child h1,
.card-single:last-child div:last-child span,
.card-single:last-child div:first-child span{
    color: #fff;
}

.recent-grid{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 65% auto;
}

.card{
    background: #fff;
    border-radius: 5px;
}

.card-header{
    padding: 1rem;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}

table{
    border-collapse: collapse;
}

thread tr{
    border-top:  1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

thread td{
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}

td .status{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 1rem;
}

tr td:last-child{
    display: flex;
    align-items: center;
}

.status.purple{
    background: rebeccapurple;
}

.status.pink{
    background: deeppink;
}

.status.orange{
    background: orangered;
}

.table-responsive{
    width: 100%;
    overflow-x: auto;
}

.customer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}

.info{
    display: flex;
    align-items: center;
}

.info img{
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4{
    font-size: .8rem;
    font-weight: 700;
    color: #222;
}

.info small{
    font-weight: 600;
    color: var(--text-grey);
}

.contact span{
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
    color: var(--main-color);
}


footer{
    position: relative;
    height: 120px;
    width: 100%;
    background-color: #333333;
    color: #fff;
    bottom:0;
    font-family: 'Poppins', sans-serif;
}

footer .footer-align{
    padding: 2rem 2rem 0rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
    margin-left: 3rem;
}
footer h3{
    font-family: 'Poppins', sans-serif;
}
footer h3{
    margin-bottom: .5rem;
}
footer .footer-copyright h3 span{
    display: inline-block;
    padding-left: 1rem;
}
footer .footer-copyright .logo{
    width: 70px;
    height: auto;
    vertical-align: middle;
}


.event-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin: 1rem 2rem 1rem 2rem;
}

.event-card-single{
    width: 270px;
    height: 400px;
    justify-content: space-between;
    background: #fff;
    padding: 0;
    border-radius: 2px;
    color: black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.event-card-single img{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 40%;
}


.event-card-single a{
    font-size: 1.3rem;
    font-family: 'Poppins',sans-serif;
    text-decoration: blue;
}

.event-card-single span,
.event-card-single a{
    display: inline-block;
    position: relative;
    text-align: center;
    padding: .5rem;
    width: 100%;
}

.event-card-single .event-name{
    color: #ff6600;
    font-family: 'Abril Fatface', cursive;
    font-size: 22px;
}

.event-card-single span {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}


.event-detail{
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 3rem;
}
.event-align{
    padding: 0 4rem 3rem 4rem;
}

.event-name{
    text-align: left;
    line-height: 46px;
    padding-top: 3rem;
    margin: 35px 0;
    color: #ff6600;
    font-size: 40px;
    font-family: 'Gotham', sans-serif;
    margin-bottom: 55px;
    margin-top: 20px;
    font-weight: bold;
}

.event-detail img{
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    max-width: 50%;
    height: auto;
    float: left;
    margin-right: 3rem;
}

.event-detail iframe{
    margin-bottom: 3rem;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    width: 43%;
    height: 280px;
    float: left;
}

.event-detail h3{
    font-weight: 600;
    font-family: 'SFUIDisplayRegular', sans-serif;
    text-size:150px;
}

.event-detail h3 span{
    font-weight: 200;
    font-family: 'SFUIDisplayRegular', sans-serif;
}

.event-detail-follow button{
    border:3px solid var(--main-color);
    border-radius: 12px;
    background: var(--main-color);
    color: white;
    padding: 10px 25px;
    font-weight: 900;
    font-size: 16px;
}

.event-detail-follow button:hover{
    border:3px solid var(--main-color);
    border-radius: 12px;
    background: #fff;
    color: var(--main-color);
    padding: 10px 25px;
    font-weight: 900;
    cursor: pointer;
    font-size: 16px;
}

.event-detail-info{
    display: inline-block;
    
}




.sidebar .nav-links i.arrow{
    margin-left: 60px;
    transition: all 0.7s ease;
}

.sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
    display: none;
}

.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
    border-radius: 6px 6px 6px 6px;
    padding:14px 2.5rem;
    /*padding: 6px 6px 14px 80px;*/
    margin-top: -3px;
    background: #1d1b31;
    display: none;
    align-content: center;
}
.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}
.sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
    
}
.sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
    margin-left: 14px;
}
.sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .nav-links .sub-menu li a:hover{
    background: inherit;
}



